{% extends 'base.html' %}

{%block content%}
<form>
  <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
    <input type="submit" value="Search"><br>
</form>

{% for teacher in teacher_list %}
    {{teacher.id}}
    <a href = "{% url 'teacher:edit' teacher.id %}">{{teacher.first_name}} {{teacher.last_name}}</a>
    {{teacher.email}}
    <a href = "{% url 'teacher:del' teacher.id %}">DELETE</a>
    <br>
    {%empty%}
    <p>Sorry,list is empty</p>
{% endfor %}

{%endblock%}

