{% extends 'base.html' %}

{%block content%}
    <form method="post">
     {%csrf_token%}
     {{ form.as_p }}
    <input type="submit" value="Save"><br>
    </form>
{% if teacher.group.all %}
    <table border="1px">
        <tr>
          <th>ID</th>
          <th>Group name</th>
            <th>✏</th>
        </tr>
        {% for group in teacher.group.all %}
            <tr>
              <td> {{ group.id }}</td>
              <td> {{ group.group_num }}</td>

              <td> <a href="/group/edit/{{ group.id }}">EDIT</a></td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}
{%endblock%}
