{% extends 'base.html' %}

{%block content%}
<form>
  <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
    <input type="submit" value="Search for delete"><br>
</form>

{% for student in del_list %}
    {{student.id}}
    {{student.first_name}}
    {{student.last_name}}
    {{student.email}}
    <br>
    {%empty%}
    <p>Sorry,list is empty</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="submit" value="DELETE"><br>
</form>
{%endblock%}
